# NOTE: This configuration is a slight modification of
#       the original `mariadb-config` RPM package.
#       The last version it was synced
#       with is `mariadb-config-10.0.23-1.fc22.x86_64`.

#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# This group is read by the server
#
[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

# NOTE: This is not in the original configuration file (anymore).
{% if False %}

bind-address=localhost
port=3306

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
{% endif %}


