
###############################################################################
# Ignore everything except listed directories.
# This is to avoid "dirty" Git dir status when symlinks are used to
# point to different `profile_name`s.

/*

# Exceptions: do not ignore expected idrectories and files.
!/.gitignore

###############################################################################
# EOF
###############################################################################

