
###############################################################################

# Ignore all generated content.
/pillars.schema.json/

# If steps in `readme.md` are followed, this file contains pillars data:
/pillars.yaml

###############################################################################
# EOF
###############################################################################

